@import "./colors";
body {
  background: $bg;
  color: rgba(black, 0.67) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border: none !important;
  color: rgba(black, 0.77) !important;
}
a {
  color: $filecoin;
}

.muted {
  opacity: 0.4;
}
.light {
  font-weight: 300;
}
.link {
  cursor: pointer;
}
